* {

    margin: 0px;

}

.nav {

    background-color: #dea054;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;


}

a{

text-decoration: none;
color: black;
}

.navegar,
.entrar {

    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
}

.nav li a:hover{/* muda de cor ao passar o mouse por cima */
    
    color: yellow;

}